// * RWD Max Width Breakpoints
@mixin max-width($breakpoints) {
    @media screen and (max-width: $breakpoints) {
        @content;
    }
}

// * RWD Min Width Breakpoints
@mixin min-width($breakpoints) {
    @media screen and (min-width: $breakpoints) {
        @content;
    }
}

// * RWD Max Height Breakpoints
@mixin max-height($breakpoints) {
    @media screen and (max-height: $breakpoints) {
        @content;
    }
}

// * RWD Min Height Breakpoints
@mixin min-height($breakpoints) {
    @media screen and (min-height: $breakpoints) {
        @content;
    }
}

// * 排除內容區塊預設的樣式
@mixin exclude-content {
    @at-root #content & {
        @content;
    }
}

// * Clear Fix
@mixin clearfix {
    &::after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

// * 處理IE10和IE11的CSS Hack
@mixin hack-ie {
    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
        @content;
    }
}

// * 隱藏文字
@mixin hidetext {
    font-size: 0rem;
    text-indent: -9999px;
    overflow: hidden;
}

// * No Script 的樣式
@mixin no-js {
    @at-root .no-js & {
        @content;
    }
}
