    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="../common/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../common/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../common/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../common/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../common/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../common/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../common/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../common/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../common/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../common/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../common/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../common/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../common/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../common/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../common/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--※ 提醒小幫手-->
    <!--請在這個位置放 meta data，要注意這個網站是否有 og image -->
    <!--↓↓這兩個標籤是 og image 的範例標籤，圖片都是假圖-->
    <!-- <meta property="og:image" content="https://dummyimage.com/1200x630/282828/eae0d0?retina=1&text=OG-image"/> -->
    <!-- <link rel="image_src" type="image/jpeg" href="https://dummyimage.com/1200x630/282828/eae0d0?retina=1&text=OG-image"> -->

    <!--※ 提醒小幫手-->
    <!--請將展覽概述的內文貼在 meta 的 description 裡面（內文太長只貼第一段即可）-->
    <meta property="og:description" content="">
    <meta property="twitter:description" content="">
    <meta name="DC.Description" content="">

    <!--中文版吃的是 ch.css -->
    <link rel="stylesheet" href="../common/css/ch.css">