@charset "UTF-8";
@import "./utils/_utils.scss";

@mixin album($language) {

    // * ==========================================================================
    // * 鍵盤操作相簿說明
    // * ==========================================================================

    // 按鈕
    .instruction-btn {
        display: none;
        padding: 10px 15px;
        margin-bottom: 1rem;
        line-height: 1.2em;
        text-decoration: none;
        color: $color-white;
        background-color: $color-primary-1;

        &.is-open {
            background-color: $color-primary-2;
        }

        @include min-width(480px) {
            padding: 15px 17px;
        }

        @include min-width(1025px) {
            display: inline-block;

            &:hover, &:focus {
                color: $color-white;
                background-color: $color-primary-2;
            }

            @at-root .no-js & {
                display: none;
            }
        }
    }

    // 列表
    .instruction-menu {
        display: none;
        background-color: $color-white;

        > li {
            strong {
                color: inherit;
            }
        }

        @include exclude-content {
            padding: 15px 20px 15px 45px;
            margin-bottom: 1rem;
            border-radius: 7px;
        }
    }

    // * ==========================================================================
    // * 相簿功能
    // * ==========================================================================



    .album-list {
        position: relative;
        overflow: hidden;

        > li {
            width: 100%;
            position: absolute;
            top: 0px;
            z-index: -9999;

            @at-root .no-js & {
                display: none;

                &:first-child {
                    display: block;
                    position: static;
                }
            }
        }

        // 排除內容區塊的 UL 樣式
        @include exclude-content{
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0px;

            img {
                margin-bottom: 0px;
            }
        }

        @at-root .no-js & {
            display: none;
        }
    }

    .album-preview {
        width: 100%;
        height: 0px;
        padding-bottom: 100%;
        display: block;
        position: relative;

        > img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            object-fit: cover;

            @include exclude-content {
                margin: 0px;
            }
        }

        &.has-autosize {
            height: auto;
            padding-bottom: 0px;

            > img {
                height: auto;
                position: static;
                object-fit: fill;
            }
        }
        /*
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            box-shadow: $focus-border-inset;
            opacity: 0;
        }
            */

        @at-root .album-list + & {
            cursor: pointer;
        }

        // @at-root .no-js .album-list + & {
        //     display: none;
        // }

        @at-root .no-js & {
            cursor: default;
        }

        @include min-width(1025px) {
            &:focus {
                box-shadow: none;

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .album-item {
        display: block;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            box-shadow: $focus-border-inset;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        @include min-width(1025px) {
            &:hover, &:focus {
                box-shadow: none;
            }

            &:focus::after {
                opacity: 1;
            }
        }
    }

    .one-work{
        .webimg{
            margin-bottom: 10px;
            border-radius: 20px;
            overflow: hidden;
            &:hover{
                  box-shadow:
                    inset 0 0 10px rgb(255, 255, 255),
                    inset 4px 0 10px rgba(255, 0, 255, 0.486),
                    inset -4px 0 10px rgba(0, 255, 255, 0.452),
                    inset 4px 0 10px rgba(255, 0, 255, 0.39),
                    inset -4px 0 10px rgba(0, 255, 255, 0.405),
                    0 0 10px #ffffff9b,
                    -5px 0 10px rgba(255, 0, 255, 0.485),
                    5px 0 10px rgba(0, 255, 255, 0.533);
            }
        }
    }

    // * ==========================================================================
    // * 展件功能
    // * ==========================================================================

    .exhibit {
        @at-root .carousel & {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        @include min-width(1025px) {
            //display: flex;
            //align-items: flex-start;
        }
    }

    .exhibit-image {
        position: relative;
        background-color: $color-black;

        @include min-width(1025px) {
            width: 100%;
        }
        /*
        &.has-icon {
            &::after {
                content: '';
                width: 35px;
                height: 35px;
                display: block;
                border-radius: 100%;
                background: $color-primary-1 url('../images/icon/search.svg') no-repeat center/60%;
                position: absolute;
                right: 10px;
                bottom: 10px;
                pointer-events: none;

                @include min-width(480px + 1px) {
                    width: 45px;
                    height: 45px;
                    right: 20px;
                    bottom: 20px;
                }
            }
        }
            */
    }

    .exhibit-content {
        padding-top: 25px;
        padding-bottom: 25px;
        
        @include min-width(1025px) {
            width: 100%;
            padding-top: 0px;
            //padding-left: 30px;
            //padding-right: 30px;
        }

        p:last-child {
            margin-bottom: 0px;
        }
    }

    .exhibit-title {
        margin-top: 0px;
        font-size: 1.4rem;
        color: $color-primary-1;

        @if $language == en {
            margin-bottom: 0px;
        } @else {
            
            margin-bottom: 1.5rem;
        }

        @at-root .exhibit-around & {
            margin-top: 0px;
        }

        @at-root .carousel & {
            margin-top: 0px;
        }

        @include min-width(768px) {
            font-size: 1.8rem;
        }

        @include min-width(1025px) {
            margin-top: 1.5rem;
        }
    }

    .dots-list {
        &.weblist{
            li{
                //margin-bottom: 0;
            }
        }
        @include exclude-content {
            list-style: none;
            line-height: 1.95em;
            padding-left: 1em;

            @if $language == en {
                margin-bottom: 1.5rem;
            }
        }

        @at-root .exhibit-content & {
            @if $language == en {
                font-size: 110%;
            } @else {
                font-size: 90%;
            }
        }

        > li {
            position: relative;

            &::before {
                content: '';
                width: 5px;
                height: 5px;
                display: block;
                border-radius: 100%;
                background-color: $color-primary-2;
                position: absolute;
                top: calc((1.95em - 7px)/2);
                left: -1em;
            }
        }
    }

    // * ==========================================================================
    // * 展件相簿（左右排列圖文相簿）
    // * ==========================================================================

    .exhibit-around {

        @include exclude-content {
            list-style: none;
            padding-left: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        > li {
            margin-top: 5rem;
            margin-bottom: 5rem;
            
            &:last-child {
                margin-bottom: 0px;
            }

            &:nth-child(odd) {
                .exhibit {
                    flex-direction: row;
                }

                .exhibit-content {
                    @include min-width(1025px) {
                        padding-right: 0px;
                    }
                }
            }

            &:nth-child(even) {
                .exhibit {
                    flex-direction: row-reverse;
                }

                .exhibit-content {
                    @include min-width(1025px) {
                        padding-left: 0px;
                    }
                }
            }
        }
    }

    // * ==========================================================================
    // * 展件相簿（水平排列圖文相簿）
    // * ==========================================================================

    .exhibit-rower {
        display: block;

        @include min-width(1025px) {
            display: flex;
            flex-wrap: wrap;
        }

        @include exclude-content {
            list-style: none;
            padding-left: 0px;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .exhibit {
            display: block;
        }

        .exhibit-image {
            width: 100%;
        }

        .exhibit-content {
            width: 100%;

            @include min-width(1025px) {
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        // 三個一排排列
        &.col-33 {
            > li {
                @include min-width(1025px) {
                    width: calc((100% - 40.5px)/3);
                    margin-left: 10px;
                    margin-right: 10px;

                    &:nth-child(3n + 1) {
                        margin-left: 0px;
                    }

                    &:nth-child(3n + 3) {
                        margin-right: 0px;
                    }
                }
            }
        }

        // 二個一排排列
        &.col-50 {
            > li {
                @include min-width(1025px) {
                    width: calc((100% - 30.5px)/2);
                    margin-left: 15px;
                    margin-right: 15px;

                    &:nth-child(2n + 1) {
                        margin-left: 0px;
                    }

                    &:nth-child(2n + 2) {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    // * ==========================================================================
    // * 針對 IE11 瀏覽器調整 lightgallery 套件的按鈕 icon
    // * ==========================================================================

    @include hack-ie {
        .lg {
            .lg-icon {
                background: {
                    repeat: no-repeat;
                    position: center;
                    size: 50%;
                }
                opacity: 0.8;
                color: transparent;

                @include min-width(1025px) {
                    &:hover, &:focus {
                        opacity: 1;
                        color: transparent;
                    }
                }

                &::before, &::after {
                    opacity: 0;
                    color: transparent;
                }

                &#lg-zoom-in {
                    background-image: url('../images/icon/lg-zoom-in.svg');
                }

                &#lg-zoom-out {
                    background-image: url('../images/icon/lg-zoom-out.svg');
                }

                &.lg-close {
                    background-image: url('../images/icon/lg-close.svg');
                }

                &.lg-next {
                    background-image: url('../images/icon/lg-arrow-right.svg');
                }

                &.lg-prev {
                    background-image: url('../images/icon/lg-arrow-left.svg');
                }

                &.lg-toogle-thumb {
                    background-image: url('../images/icon/lg-menu.svg');
                }
            }
        }

        .lg-outer .lg .lg-thumb-item {
            position: relative;
            overflow: hidden;

            img {
                width: auto;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}