@charset "UTF-8";
@import "./utils/_utils.scss";

@mixin footer($language) {

    // * ==========================================================================
    // * FOOTER 區塊
    // * ==========================================================================

    #footer {
        //background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #c4c4c4 100%);
        color: $color-primary-2;
        //background-color: $color-primary-2;
        position: relative;
    }

    // * ==========================================================================
    // * 贊助廠商
    // * ==========================================================================

    .sponsors {
        display: none;
        padding: 30px;

        img {
            max-width: 100%;
            display: block;
        }

        @include min-width(1025px) {
            display: flex;
            justify-content: center;
        }
    }

    // * ==========================================================================
    // * 主要 FOOTER 區塊
    // * ==========================================================================

    .mainfooter {
        position: relative;
        color: $color-white;

        @include min-width(1025px) {
            display: flex;
            justify-content: space-between;
            border-top: 1px rgba($color-white,0.2) solid;
        }

        p {
            font-size: 0.95rem;
            line-height: 1.6em;
            margin-bottom: 0px;
            color: $color-primary-2;
        }

        .side-left {
            padding: 15px 20px;
            color: $color-primary-2;

            @include min-width(1025px) {
                padding-left: 30px;
                padding-right: 30px;
                display: flex;
                align-items: center;
            }
        }

        .side-right {
            border-top: 1px rgba($color-white,0.2) solid;

            @include min-width(1025px) {
                border-top: none;
            }
        }
    }

    .footer-list {
        display: flex;
        flex-wrap: wrap;

        @include min-width(1025px) {
            flex-wrap: nowrap;
            height: 100%;
        }

        > li {
            width: 50%;
            border: 1px rgba($color-white,0.2) solid;

            @include min-width(480px + 1px) {
                width: 25%;
            }

            @include min-width(1025px) {
                width: 160px;
                border-top: none;
                border-bottom: none;
                border-right: none;
                display: flex;

                @if $language == en {
                    align-items: flex-start;
                } @else if $language == jp {
                    align-items: flex-start;
                } @else {
                    align-items: center;
                }
            }
        }
    }

    .footer-btn {
        width: 100%;
        display: block;
        padding: 10px;
        text-decoration: none;

        @include min-width(1025px) {
            &:hover, &:focus {
                > span::before {
                    transform: translateY(-5px);
                }
            }
        }

        > span {
            display: block;
            line-height: 1.2em;
            font-size: 0.95rem;
            text-align: center;
            color: $color-white;

            &::before {
                content: '';
                width: 40%;
                height: 0px;
                padding-bottom: 40%;
                display: block;
                margin: 10px auto;
                border-radius: 100%;
                background: {
                    position: center;
                    repeat: no-repeat;
                    size: contain;
                }
                transition: transform 0.3s;
            }
        }

        &.icon-position > span::before {
            background-image: url('../images/icon/footerInfo_position.svg');
        }
        
        &.icon-info > span::before {
            background-image: url('../images/icon/footerInfo_info.svg');
        }
        
        &.icon-member > span::before {
            background-image: url('../images/icon/footerInfo_member.svg');
        }
        
        &.icon-facebook > span::before {
            background-image: url('../images/icon/footerInfo_facebook.svg');
        }
    }
}