@charset "UTF-8";
@import "./utils/_utils.scss";

@mixin header($language) {

    // * ==========================================================================
    // * HEADER 區塊
    // * ==========================================================================

    #header {
        width: 100%;
        position: relative;
        background-color: $color-black;

        @include min-width(1025px) {
        // @include min-width(769px) {
            height: 100vh;
        }
    }

    .mainheader {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //background-color: $color-primary-2;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2001;
        //box-shadow: 0px 5px 7px rgba($color-black, 0.3);
        padding: 0 10px;
        //background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ff87af 100%);
        background:#ff87af;
        backdrop-filter: blur(6px);
        @include min-width(1025px) {
            height: auto;
            padding: 20px 40px;
            position: absolute;
            z-index: 2000;
            background-color: transparent;
            box-shadow: none;
        }
    }

    .logo {
        width: 187px;
        height: 40px;
        display: block;
        margin-left: 5px;
        position: relative;
        background-image: url('../images/logo_W.png');
        background-repeat: no-repeat;
        background-size: contain;
        > a {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            color: $color-white;

            @include hidetext;
        }

        @include min-width(1025px) {
            width: 260px;
            height: 56px;
            margin-left: 0px;
        }
    }

    // * ==========================================================================
    // * 右上方連結區塊
    // * ==========================================================================

    .topnav {
        display: none;

        @include min-width(1025px) {
            display: flex;
            align-items: center;
        }
    }

    .topnav-item {
        margin-left: 7px;
    }

    // * 按鈕的大小
    $btn-size: 50px;

    // * ==========================================================================
    // * 網站導覽
    // * ==========================================================================

    .sitemap-btn {
        width: $btn-size;
        height: $btn-size;
        display: block;
        color: $color-white;
        background: {
            color: transparent;
            image: url('../images/icon/sitemap.svg');
            position: center;
            repeat: no-repeat;
            size: 70%;
        }

        @include hidetext;

        @include min-width(1025px) {
            &:hover, &:focus {
                background-color: transparent;
            }
        }
    }

    // * ==========================================================================
    // * 分享
    // * ==========================================================================

    .share {
        position: relative;

        @at-root .no-js & {
            display: none;
        }
    }

    .share-btn {
        width: $btn-size;
        height: $btn-size;
        display: block;
        color: $color-white;
        background: url('../images/icon/share.svg') no-repeat center/60%;

        @include hidetext;
    }

    .share-list {
        display: none;
        position: absolute;
        z-index: 1;

        > li {
            padding-top: 5px;
        }

        a {
            width: $btn-size;
            height: $btn-size;
            display: block;
            border-radius: 100%;
            background: {
                position: center;
                repeat: no-repeat;
                size: contain;
            }

            @include hidetext;

            &.icon-facebook {
                background-color: #3b5998;
                background-image: url('../images/icon/facebook.svg');
            }

            &.icon-line {
                background-color: #2cbf13;
                background-image: url('../images/icon/line.svg');
            }

            &.icon-twitter {
                background-color: #3a3a3a;
                background-image: url('../images/icon/twitter.svg');
            }

            &.icon-plurk {
                background-color: #c6602b;
                background-image: url('../images/icon/plurk.svg');
            }
        }
    }

    // * ==========================================================================
    // * 語言選擇
    // * ==========================================================================

    .language {
        border: 3px $color-primary-1 solid;
        overflow: hidden;

        > li {
            float: left;
        }
    }

    .language-btn {
        // Main Header 裡面的語言選擇按鈕
        @at-root .mainheader & {
            padding: 15px;
            display: block;
            line-height: 1;
            text-align: center;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
            color: $color-white;
            background-color: $color-primary-2;
            transition: all 0.2s ease-in-out;
        
            &.current {
                background-color: $color-primary-1;
            }

            @include min-width(1025px) {
                &:hover, &:focus {
                    background-color: $color-primary-1;
                }

                &:focus {
                    box-shadow: $focus-border-inset;
                }
            }
        }
    }
}